# python compiled files
**/__pycache__/**

# jupyter notebook files
**/.ipynb_checkpoints/**
**/*.ipynb

# pycharm files
**/.idea/**

# virtual environment
**/venv/**

# pip install -e (developer package mode files)
**/*.egg-info

**.memory

**.sqlite

data/**

workdir/**

**.ini

**.bat

**.log
